.main-color {
    color: rgb(245, 212, 24);
}


/* Start nav bar */

nav.navbar .navbar-brand {
    color: rgb(245, 212, 24);
    font-size: 22px;
}

nav.navbar .nav-item a:hover {
    color: rgb(245, 212, 24) !important
}


/* End nav bar */

div.carousel-inner img {
    max-height: 90vh;
}


/* Start about */

section.about .img {
    background-image: url(../Images/work-1.jpg);
    position: relative;
    padding: 0;
    background-size: cover;
    height: auto;
}

section.about .img p {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    margin: 0;
    padding: 20px;
}


/* End about */


/* Start Donate*/

section.service {
    height: 400px;
    background-attachment: fixed;
    background-image: url(../Images/intro.jpg);
    background-size: cover;
    padding-top: 170px;
}

section.service p {
    margin: auto;
}


/* End Donate*/